
#ºöÂÔmaven project ²»ĞèÒª
*.class
target/
.classpath
.project
.settings/
RemoteSystemsTempFiles/
.metadata/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties